.homepageContent {
  width: 100%;
  text-align: center;
  margin: 35px 0 0;
}

.homepageCol {
  display: flex;
  flex-wrap: wrap;
}

.buyproductImg {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.buyproductImgLink {
  max-width: 100px;
  background-color: transparent !important;
}

.buyproductInfo {
  width: 100%;
  margin-right: 30px;
}

.buyproductInfoLabel {
  font-size: 17px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 20px;
}

.buyproductProduct {
  position: relative;
  padding-top: 100px;
  background-color: #f6f6f6;
  padding-right: 90px;
  padding-left: 25px;
}

.buyproductCol {
  display: flex;
}

.buyproductColImg {
  margin: 5px 5px 5px 0;
  position: relative;
}

.buyProductName {
  max-width: 234px;
}

.buyProductPrice {
  max-width: 59px;
}

.buyproductColImgLink {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 15%;
  box-sizing: border-box;
}

.buyproductQuantity {
  position: absolute;
  top: -7;
  right: -4;
  background-color: #484545;
  width: 20px;
  height: 20px;
  z-index: 5;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  font-weight: 500;
}

.buyproductTotalQuantity {
  position: fixed;
  display: flex;
  align-items: center;
  height: 60px;
  top: 0;
  border-bottom: 1px solid #000;
  width: 355px;
  background-color: #f6f6f6;
  z-index: 10;
  display: flex;
  justify-content: left;
}

.buyproductInput {
  padding: 8px;
  width: 100%;
}

.buyproductRadio {
  margin: 5px 0;
}

.buyproductInputSale {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.buyproductInputSale1 {
  padding: 6px 8px;
  width: 70%;
}

.buyproductTotal {
  border-top: 1px solid #000;
  padding: 15px 0;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 355px;
}

.buyproductButton {
  background-color: #a73c3f;
  color: #fff;
  height: 35.6px;
  margin-left: 8px;
}
