.slideRow {
  background-color: #bd945d;
  box-sizing: border-box;
}

.sliceColTitle {
  text-align: right;
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.sliceColContent1 {
  text-align: right;
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  color: #fff;
}

.sliceColContent2 {
  text-align: right;
  font-size: 15px;
  line-height: 23px;
  max-width: 90%;
}
