.seeMoreContent {
  margin: 20px 0;
  box-sizing: border-box;
  text-align: center;
}

.seeMoreLink {
  background-color: transparent;
  color: #b22830;
  border-color: #b22830;
  font-size: 16px;
  line-height: 24px;
  border: solid 1px #b22830;
  text-transform: uppercase;
  padding: 7px 63px;
  border-radius: 5px;
}
