.ColNews {
    padding: 0 15px;
    .slugImg {
        width: 100%;
    }
    .slugTitle {
        margin: 10px 0 30px;
    }
    .title {
        font-size: 17px;
        font-weight: 500;
    }
    .date {
        margin: 5px 0 0;
    }
}