.product {
  margin: 20px 0;
  padding: 0 15px;
}

.textContent {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 5px 0 0;
}

.ButtonContent {
  width: 100%;
  border-color: #b5313a;
  color: #b5313a;
  margin-top: 10px;
}

.imgProduct {
  width: 270px;
  height: 270px;
  box-sizing: border-box;
  min-height: 270px;
  min-width: 270px;
}

@media (max-width: 600px) {
  .imgProduct {
    max-width: 390px !important;
    max-height: 390px !important;
  }
}