.menuIcon {
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #b22830;
}

.headerImage {
  display: flex;
  align-items: center;
  min-height: 120px;
}

.headerMenuflex {
  width: 90%;
}

.colHeaderMenu {
  display: flex;
  align-items: end;
}

.headerMenu {
  display: flex;
  align-items: center;
  background-color: #b22830;
  padding: 0 15px;
}

.testMenuCSS {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  background-color: #b22830;
  color: #fff;
}

.headerLink {
  display: block;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px 25px;
}

.headerLink:hover {
  text-decoration: none !important;
  background-color: #53382c;
  color: #fff !important;
  // border-bottom-color: 5px solid #b22830 !important;
  // border-bottom: 5px solid #b22830 !important;
}


@media (max-width: 500px) {
  // .headerMenu {
  //     display: none;
  // }
  .headerMenuflex {
    display: none;
  }
}

@media (min-width: 500px) {
  .menuIcon {
    display: none;
  }
  .headerMenuflex {
    display: flex;
  }
}
